.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
  gap: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;

  .users-box {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .text {
    display: flex;
    min-height: 1rem;
    align-items: center;
    ;
  }

  .label {
    color: rgb(155, 151, 151);
    margin-bottom: 0.5rem;
    font-size: 10px;
  }

  .users-menu {
    display: flex;
  }
}